/* General CSS */
html {
    height: 100%;
}
body {
    padding-top: 60px;
    padding-bottom: 220px;
    height: 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    height: 220px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.wrapper {
    min-height: 100%;
    position:relative;
}

.footer {
	position: relative;
	margin-top: 0px; /* negative value of footer height */
	height: 0px;
	clear:both;
	padding-top:20px;
	color:#fff;
}

.navbar-nocorners {
	-moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    border-width:0px;
}

ul.nav-white {
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.nav-white a {
    color:white;
}
ul.nav-white a:hover {
    color:white;
    background-color:#777777;
}
.hero-unit {
    padding-top:20px;
    padding-bottom:30px;
    padding-left:40px;
}
.diamond {
    background-color:#0EBFE9;
    font-size:17px;
}
.right {
    float:right;
    margin-right:10px;
    font-size:15px;
}
.center {
    text-align:center;
}

/* Global Page Templates */
.register {
    width:100%;
}
td.account-bottom {
    height:110px;
}


/* title bar for homepage and program page */
.title-bar {
    background-color:black;
    color:white;
    padding-left:20px;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border-width:1px;
    border-style:solid;
}
.title-bar-black {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color:#2c2c2c;
    border-color:black;
}

/* ladies, men, pairs dance themes */

.ladies {
    color:#C12267;
}
.men {
    color:#357EC7;
}
.pairs {
    color:#4AA02C;
}
.dance {
    color:#E7A503;
}

/* plot colors for profiles */
.sp {
    color:rgb(192,42,42);
}
.fs {
    color:rgb(0,102,51);
}
.sp-fs-total {
    color:rgb(51,187,205);
}

/* some homepage stlyes */
p.homepage-center {
	font-family:"Verdana";
	font-size: 20px;
}

/* db completion color codes */
td.in-db {
	background-color:#3CB371;
}
td.not-in-db {
	background-color:#1E90FF;
}
td.not-held {
	background-color:#C0C0C0;
}
td.title-block {
	background-color:#F5F5BE;
}

.table-short td {
	line-height:50px;
}

/* competition preview table codes */
td.cp-success {
    background-color:#7cc87c;
}
td.cp-warning {
    background-color:#FBEC5D;
}
td.cp-danger {
    background-color:#d9635f;
}

img.medal {
	padding-left:5px;
}